@import "variables";
@import "mixins";


header{
    background: $white;
    box-shadow: 11px 11px 25px rgba(9, 7, 37, 0.06);
    @include position (0%, 0%);
}

.header_content{
    @include positioning(absolute, 8.33% , 8.33%, none);
}

.header_content img{
    @include positioning (relative, 2.67%, 79%, 0px);
    margin-top: 36px;
    margin-bottom: 35px;
    @include logo;
}

.navigation{
    @include flex (flex, space-around, center);
    @include positioning (absolute, 49%, 1.6%, 0px);
    height: 50px;
    margin: 20px 0px;
}

.mainLink{
    color: #1B1A1A;
    @include textEditor (15px, 400, 24px, none);

    a{
        @include link;
    }

    &:hover{
        color: darken($color: #CEC4BC, $amount: 20);
        text-decoration: underline;
    }

    &:visited{
        @include link;
    }
}


.templateButton{
    box-sizing: border-box;
    padding-top: 11px;
    left: 0px;
    border-radius: 14px;
    color: white;
    text-align: center;
    background: #1B1A1A;
    @include size (46px, 155px);
}